<div class="sidebar" fxLayot="column">
    <div class="glyph fs1">
        <span class="icon-timeline"></span>
        <span class="mls"><a routerLink="/timelines">タイムライン</a></span>

        <span class="icon-project"></span>
        <span class="mls"><a routerLink="/">プロジェクト</a></span>

        <span class="icon-user"></span>
        <span class="mls"><a routerLink="/workings">部門作業</a></span>

        <span class="icon-settings"></span>
        <span class="mls"><a routerLink="/managements">管理</a></span>

        <span class="icon-history"></span>
        <span class="mls"><a routerLink="histories">操作履歴</a></span>
    </div>    
</div>