$icomoon-font-family: "eissueicons" !default;
$icomoon-font-path: "fonts" !default;

$icon-attachment-add: "\e91d";
$icon-menu: "\e91c";
$icon-upload: "\e919";
$icon-download: "\e91a";
$icon-reload: "\e91b";
$icon-register: "\e918";
$icon-expand: "\e916";
$icon-collapse: "\e917";
$icon-project: "\e910";
$icon-expired: "\e911";
$icon-due-date: "\e912";
$icon-information: "\e913";
$icon-filter: "\e914";
$icon-user: "\e915";
$icon-send: "\e90b";
$icon-attachment: "\e90c";
$icon-update: "\e90d";
$icon-details: "\e90e";
$icon-comment: "\e90f";
$icon-close: "\e90a";
$icon-skip: "\e909";
$icon-arrow-left: "\e905";
$icon-arrow-right: "\e906";
$icon-arrow-up: "\e907";
$icon-arrow-down: "\e908";
$icon-personal-card-svgrepo-com: "\e904";
$icon-settings: "\e900";
$icon-history: "\e901";
$icon-timeline: "\e902";
$icon-organization: "\e903";

